@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    --ff: "Montserrat", sans-serif;
    --fs-1: 12px;
    --fs-2: 14px;
    --fs-3: 16px;
    --fs-4: 18px;
    --fs-5: 20px;
    --fs-6: 24px;
    --fs-7: 30px;
    --fs-8: 36px;
    --fs-9: 48px;
    --fs-10: 60px;
    --fs-11: 72px;
    --fs-12: 96px;
    --fs-13: 128px;
    --fw-1: 100;
    --fw-2: 200;
    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;
    --white: #f9f9f9;
    --white-2: #e9ecef;
    --yellow: #D7B065;
    --light-green: #d1e7dd;
    --light-green-2: #badbcc;
    --green: #0f5132;
    --black: #191919;
    --black-2: #1e1e1e;
    --black-3: #0a0a0a;
    --rgb-white: rgb(203, 203, 203);
    --rgb-white-2: rgb(249, 249, 249);
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        scroll-behavior: smooth;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    background: #0a0a0a url(https://wpriverthemes.com/HTML/uniiq/assets/images/lines.png) fixed center top/100% repeat-y;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.pre-loader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 1.5s;
    transition: 1.5s;
    background: #0a0a0a url(https://wpriverthemes.com/HTML/uniiq/assets/images/lines.png) fixed center top/100% repeat-y;
}

.pre-loader .d11 {
    overflow: hidden;
}

.pre-loader .d11 .d12 {
    margin-left: 34px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.pre-loader #load-txt {
    height: 100px;
    padding-right: 34px;
    position: relative;
}

.pre-loader #load-txt span {
    position: absolute;
    top: 0;
    right: 0px;
    color: rgba(255, 255, 255, 0.6);
}

.pre-loader #load-txt h1 {
    color: var(--bs-white);
    position: relative;
}

.pre-loader .progress {
    width: 370px;
    height: 6px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.pre-loader .progress .progress-inner {
    width: 0;
    height: 6px;
    border-radius: 1px;
    background-color: var(--bs-white);
}

.pre-loader .pre-footer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.pre-loader .pre-footer p {
    color: rgba(249, 249, 249, 0.5019607843);
}

.content {
    display: block;
    margin: 0 auto;
    max-width: 1920px;
}

.item-wrapper {
    -webkit-animation: entry-animation 2s;
    animation: entry-animation 2s;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;

    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: var(--white-2);
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: white;
    text-align: center;
    white-space: nowrap;
    background-color: var(--yellow);
    transition: width .6s ease;
}

.content footer {
    border-top: 1px solid #80808049;
    margin: 160px 3em 0;
    padding: 30px 0 10px;
}

.content footer>* {
    padding: 0 20px;
}

.content footer div {
    gap: 25px;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: var(--green);
    background-color: var(--light-green);
    border-color: var(--light-green-2);
}

@media (max-width: 1440px) {
    #ticker {
        margin: 30px 64px 0px 35px !important;
    }

    .header {
        margin: 40px 80px 100px 38px !important;
    }
}

@media (max-width: 1280px) {
    .header {
        margin: 40px 64px 100px 35px !important;
    }

    .mobile-hamburger .left-sidebar li {
        margin-bottom: 20px !important;
    }

    #home main .item-wrapper,
    #about main .item-wrapper,
    #portfolio main .item-wrapper,
    #skills main .item-wrapper,
    #contact main .item-wrapper,
    #projectPage1 main .item-wrapper,
    #projectPage2 main .item-wrapper {
        max-width: 950px !important;
    }

    #connect {
        max-width: 950px !important;
    }

    #skills .item-wrapper .skill1 {
        width: 930px !important;
    }

    #portfolioDetail .item-wrapper .slider {
        margin: 80px 0 !important;
    }

    /* #portfolioDetail .item-wrapper .slider .splide-track .splide-slide {
        max-width: 950px !important;
    } */

    #portfolioDetail .item-wrapper .blContent {
        margin: 100px 0 60px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper {
        max-width: 950px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper>:first-child {
        margin-bottom: 60px;
    }
}

@media (max-width: 1200px) {
    .contact {
        visibility: hidden !important;
    }

    #footer div #hide1,
    #connect .connect-content div aside {
        display: none !important;
    }

}

@media (min-width: 1200px) {
    #portfolio .item-wrapper .articles article .image-wrapper h1 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 992px) {

    .cursor,
    .dot {
        display: none !important;
    }

    #ticker {
        margin: auto 26px !important;
    }

    .header {
        margin: 40px 26px 100px !important;
    }

    #home main .item-wrapper,
    #about main .item-wrapper,
    #portfolio main .item-wrapper,
    #skills main .item-wrapper,
    #contact main .item-wrapper,
    #projectPage1 main .item-wrapper,
    #projectPage2 main .item-wrapper {
        max-width: 758px !important;
    }

    #home main .item-wrapper {
        grid-template-areas: "img1 . ."
            "img1 img2 img2"
            "img3 img3 ."
            "img3 img3 img4"
            "img3 img3 img4"
            "img5 img5 img4"
            "img5 img5 ."
            "img6 img7 img7"
            "img6 . ."
            "img6 . ." !important;
        row-gap: 10px !important;
    }

    #connect {
        max-width: 758px !important;
    }

    #footer {
        margin: 100px 0 0 !important;
    }

    #about .caption h2 {
        font-size: 25px !important;
        padding: 0 80px !important;
    }

    #portfolio .item-wrapper .articles article {
        flex-direction: column !important;
    }

    #portfolio .item-wrapper .articles article .image-wrapper {
        flex-direction: column !important;
        transform: translateX(0) !important;
    }

    #portfolio .item-wrapper .articles article .image-wrapper .hover-img {
        width: auto !important;
        height: auto !important;
        overflow: hidden !important;
    }

    #portfolio .item-wrapper .articles article .image-wrapper .hover-img .article-img {
        object-fit: cover !important;
        scale: 1.1 !important;
        transition: scale 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s !important;
    }

    #portfolio .item-wrapper .articles article .image-wrapper .hover-img .article-img:hover {
        scale: 1 !important;
    }

    #portfolio .item-wrapper .articles article .image-wrapper h1 {
        font-size: 25px !important;
    }

    #skills .item-wrapper .skill1 {
        width: 700px !important;
    }

    #skills .item-wrapper .skill1 .skill1-image {
        max-width: 100%  !important;
        height: 100%  !important;
    }

    #skills .item-wrapper .skill1 .skill1-image .image {
        width: 90vw !important;
        border-radius: 10px !important;
        object-fit: cover !important;
    }

    #skills .item-wrapper .skill1 .skill1-list {
        gap: 10px !important;
    }

    #skills .item-wrapper .skill2 .skill2-list {
        max-width: 100% !important;
        margin: 20px 0 40px !important;
    }

    #skills .item-wrapper .skill2 .skill2-image {
        max-width: 100% !important;
        margin: 20px 0 !important;
    }

    #contact .item-wrapper .form-content {
        margin: 100px 0 !important;
    }

    .content footer {
        margin: 100px 0 0 !important;
    }

    #contact .item-wrapper .caption h2 {
        font-size: 25px !important;
        padding: 0 80px !important;
    }

    #portfolioDetail main {
        display: flex !important;
        justify-content: center !important;
    }

    #portfolioDetail .item-wrapper {
        max-width: 100% !important;
    }

    #portfolioDetail .item-wrapper .caption h2 {
        font-size: 25px !important;
        padding: 0 80px !important;
    }

    #portfolioDetail .item-wrapper .slider {
        margin: 50px 0 !important;
    }

    /* #portfolioDetail .item-wrapper .slider .splide-track .splide-slide {
        max-width: 720px !important;
    } */

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper {
        max-width: 720px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des {
        grid-template-columns: auto !important;
        justify-content: center !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des .details {
        margin: 0 auto !important;
        width: 100% !important;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des .description {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    #portfolio .item-wrapper .articles article {
        justify-content: space-between !important;
    }

    #portfolio .item-wrapper .articles article:hover .image-wrapper .hover-img {
        margin-right: 50px !important;
        margin-left: 150px !important;
    }

    #portfolio .item-wrapper .articles article .image-wrapper h1 {
        align-self: center !important;
    }

    #portfolio .item-wrapper .articles article .subtitle-wrapper {
        align-self: center !important;
    }
}

@media (max-width: 800px) {

    #home,
    #about,
    #portfolio,
    #skills,
    #contact,
    #portfolioDetail,
    #projectPage1,
    #projectPage2 {
        margin: 0 1em !important;
    }

    #ticker {
        margin: 15px 0 0 !important;
    }

    .header {
        margin: 40px 0px 100px !important;
    }

    .menu-icon-wrapper {
        display: block !important;
    }

    #home main .item-wrapper,
    #about main .item-wrapper,
    #portfolio main .item-wrapper,
    #skills main .item-wrapper,
    #contact main .item-wrapper {
        max-width: 758px !important;
    }

    #connect {
        max-width: 758px !important;
        max-height: 250px !important;
    }

    #connect .connect-content {
        gap: 30px !important;
        align-items: center !important;
        flex-direction: column !important;
    }

    .content header nav,
    #connect section .hide4 {
        display: none !important;
    }

    #connect section .hide5 {
        display: block !important;
    }

    #footer {
        flex-direction: column !important;
    }

    #footer div #hide2 {
        display: none !important;
    }

    #footer aside #hide3 {
        display: block !important;
    }

    #about .caption h2 {
        font-size: 20px !important;
    }

    #about .item-wrapper .blContent {
        margin: 50px 0 !important;
    }

    #about .item-wrapper .blContent .blContent-wrapper .about-det {
        margin: 0 !important;
    }

    #about .item-wrapper .blContent .blContent-wrapper .para p {
        margin: 30px 0 !important;
    }

    #skills .item-wrapper .skill1 {
        margin: 50px 0 !important;
    }

    #skills .item-wrapper .skill2 {
        margin: 50px 0 !important;
    }

    #skills .item-wrapper .skill1 .skill1-list {
        gap: 30px !important;
    }

    #contact .item-wrapper .about-image {
        margin: 60px 0 !important;
    }

    #contact .item-wrapper .form-content {
        margin-bottom: 30px !important;
    }

    .content footer {
        flex-direction: column !important;
    }

    #contact .item-wrapper .caption h2 {
        font-size: 20px !important;
        line-height: 25px !important;
    }

    #portfolioDetail .item-wrapper {
        max-width: calc(100vw - 50px) !important;
    }

    #portfolioDetail .item-wrapper .caption h2 {
        font-size: 20px !important;
    }

    #portfolioDetail .item-wrapper .slider {
        margin: 0px !important;
    }

    /* #portfolioDetail .item-wrapper .slider .splide-track .splide-slide {
        max-width: 500px !important;
    } */

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper {
        max-width: 950px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper>:first-child {
        margin-bottom: 30px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des .details {
        margin-bottom: 40px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .para p {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    #connect {
        padding: 30px 10px !important;
    }

    #skills .item-wrapper .skill1 {
        width: auto !important;
    }

    #skills .item-wrapper .skill1 .skill1-image {
        margin-bottom: 70px !important;
    }
}

@media (min-width: 768px) {
    .align-self-md-center {
        align-self: center !important;
    }

    .col-md-5 {
        flex: 0 0 auto !important;
        width: 41.7% !important;
    }

    .col-md-6 {
        flex: 0 0 auto !important;
        width: 50% !important;
    }
}

@media (min-width: 576px) {
    .text-sm-end {
        text-align: right !important;
    }

    .col-sm-4 {
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }
}

@media (max-width: 568px) {

    #home,
    #about,
    #portfolio,
    #skills,
    #contact,
    #portfolioDetail,
    #projectPage1,
    #projectPage2 {
        margin: 0 1em !important;
    }

    .header {
        margin: 40px 0px !important;
    }

    #logo {
        width: auto !important;
        margin: 10px 0px !important;
    }

    .contact {
        display: none !important;
    }

    #home main .item-wrapper,
    #about main .item-wrapper,
    #portfolio main .item-wrapper,
    #skills main .item-wrapper,
    #contact main .item-wrapper,
    #projectPage1 main .item-wrapper,
    #projectPage2 main .item-wrapper {
        overflow: hidden !important;
        margin: 0 !important;
    }

    #home main .item-wrapper {
        grid-template-areas: "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7" !important;
    }

    .item-wrapper .items .portrait,
    .item-wrapper .items .landscape {
        max-width: 100% !important;
    }

    #connect section .hide4 {
        text-align: center !important;
    }

    #connect section p {
        text-align: center !important;
    }

    #about main .item-wrapper {
        margin: 0 !important;
    }

    #about .caption h2 {
        padding: 0 !important;
        line-height: 30px !important;
    }

    #about .item-wrapper .about-image {
        margin: 40px 0 !important;
    }

    #about .item-wrapper .blContent .blContent-wrapper .about-det {
        grid-template-columns: auto !important;
    }

    #about .item-wrapper .blContent .blContent-wrapper .about-det .details {
        padding: 0 !important;
    }

    #contact .item-wrapper .caption h2 {
        padding: 0 !important;
        line-height: 30px !important;
    }

    #contact main footer .reach {
        margin: 10px 0 !important;
    }

    #contact main footer .reach div:first-child {
        margin: 0 !important;
    }

    #portfolioDetail .item-wrapper {
        max-width: calc(100vw - 20px) !important;
    }

    #portfolioDetail .item-wrapper .caption h2 {
        padding: 0 !important;
        line-height: 30px !important;
    }

    #portfolioDetail .item-wrapper .slider {
        margin: 40px 0 0 !important;
    }

    /* #portfolioDetail .item-wrapper .slider .splide-track .splide-slide {
        max-width: 420px !important;
    } */

    #portfolioDetail .item-wrapper .blContent {
        margin: 30px 0;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des {
        margin: 0 !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des .details {
        display: grid !important;
        grid-template-columns: auto auto !important;
        row-gap: 15px !important;
    }

    #portfolioDetail .item-wrapper .blContent .blContent-wrapper .det_des .details .detail-items {
        padding-right: 1em !important;
        margin-bottom: 0 !important;
    }
}

@-webkit-keyframes about-text {
    0% {
        top: 200px;
        opacity: 0.1;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes about-text {
    0% {
        top: 200px;
        opacity: 0.1;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes connectSpin {
    0% {
        transform: rotateX(10deg) rotateY(40deg) skewY(-180deg);
    }

    100% {
        transform: rotate(0deg) skew(0deg);
    }
}

@keyframes moveleft {
    0% {
        left: -0%;
    }

    100% {
        left: -51%;
    }
}

@keyframes menu-icon {
    0% {
        right: -10%;
        opacity: 0.1;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes entry-animation {
    0% {
        transform: translateY(200px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes connectSpin {
    0% {
        transform: rotateX(10deg) rotateY(40deg) skewY(-180deg);
    }

    100% {
        transform: rotate(0deg) skew(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 10%;
        --gradY: 50%;
    }

    40% {
        --gradX: 100%;
        --gradY: 100%;
    }

    60% {
        --gradX: 50%;
        --gradY: 10%;
    }

    80% {
        --gradX: 0%;
        --gradY: 50%;
    }

    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}

@property --angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: 90deg;
}

@property --gradY {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

@property --gradX {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 50%;
}