#home .item-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-areas: "img1 . ."
        "img1 . ."
        "img1 img2 img2"
        ". img2 img2"
        "img3 img3 ."
        "img3 img3 ."
        "img3 img3 img4"
        ". . img4"
        "img5 img5 img4"
        "img5 img5 ."
        ". img7 img7"
        ". img7 img7"
        "img6 img7 img7"
        "img6 . ."
        "img6 . .";
    column-gap: 24px;
    width: 60vw;
}

#home .item-wrapper .items:nth-child(1) {
    grid-area: img1;
}

#home .item-wrapper .items:nth-child(2) {
    grid-area: img2;
}

#home .item-wrapper .items:nth-child(3) {
    grid-area: img3;
}

#home .item-wrapper .items:nth-child(4) {
    grid-area: img4;
}

#home .item-wrapper .items:nth-child(5) {
    grid-area: img5;
}

#home .item-wrapper .items:nth-child(6) {
    grid-area: img6;
}

#home .item-wrapper .items:nth-child(7) {
    grid-area: img7;
}

#home .item-wrapper .items .image {
    width: 100%;
    position: relative;
    transition: all 0.5s ease-in;
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

#home .item-wrapper .items .portrait {
    max-width: 400px;
}

#home .item-wrapper .items .landscape {
    max-width: 682px;
}

#home .item-wrapper .items .image .image-animation {
    width: 100% !important;
    scale: 1.1;
    transition: scale 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s
}

#home .item-wrapper .items .project-name {
    overflow: hidden;
    margin: 15px 0 0;
}

#home .item-wrapper .items .project-name p {
    margin: 0;
    color: var(--white);
    transition: 0.3s;
    position: relative;
}
#home .item-wrapper .items .project-name p::before {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    content: attr(data-hover);
}